@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About Us</h1>
</hgroup>

<article>
    <p>
        We started out just a few students, with enough spare time and energy, to make this site come true!
        We couldn't find any website to search for the dream living.. Hotels.com is a great site, but it's just hotels.. 
        So we though of a solution for that problem and came up with this site!
    </p>

    <p>
        We started our business in Sweden, but not we're working world wide. With offices around the world, we have a greater chance of
        making everyone dream come true! The only thing we have to say is:
    </p>

    <p>
        Help us help you find the living of your dreams!
    </p>
</article>