@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Contact Us</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Telephone</h3>
    </header>
    <p>
        <span class="label">Marcus Stenswed mobile:</span>
        <span>+46 (0) 70 305 63 33</span>
    </p>
    <p>
        <span class="label">Henrik Holmgren after hours:</span>
        <span>+46 (0) 73 832 75 57</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:mstenswed@hotmail.com">Marcus Stenswed</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:lordleto305@gmail.com">William Vikström</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:blotzki@gmail.com">David Blotzki</a></span>
    </p>
    <p>
        <span class="label">Admin:</span>
        <span><a href="mailto:jockek@gmail.com">Joakim Karlsson</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Trekantsvägen 1, Liljeholmen
        134 67 Stockholm
    </p>
</section>